/*
    Styling for the entire app
*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
}

blockquote {
  border-left: 3px solid rgba(#0d0d0d, 0.1);
  padding-left: 1rem;
}

.blobNotes {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -200px;
  top: -200px;
  z-index: -99;

  border-radius: 500px;
  box-shadow:
          155px 105px 25px 8px rgba(90, 171, 206, 0.25),
          195px 265px 25px 12px rgba(150, 224, 71, 0.25),
          355px 105px 25px 10px rgba(206, 114, 236, 0.35),
          100vw 150px 25px 12px rgba(134, 155, 234, 0.31),
          105vw 260px 25px 12px rgba(194, 222, 98, 0.28),
          40vw 750px 25px 18px rgba(90, 234, 216, 0.32),
          50vw 700px 25px 80px rgba(216, 239, 114, 0.32),
          65vw 750px 25px 26px rgba(95, 255, 121,0.32),
          75vw 650px 25px 45px rgba(206, 114, 236, 0.3);


}
.blobSS {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -200px;
  top: -200px;
  z-index: -99;

  border-radius: 500px;
  box-shadow:
          195px 165px 25px 8px rgba(211, 158, 89, 0.25),
          195px 215px 25px 12px rgba(189, 175, 87, 0.25),
          355px 155px 25px 10px rgba(206, 114, 236, 0.35),
          100vw 150px 25px 12px rgba(189, 59, 123, 0.31),
          105vw 260px 25px 12px rgba(194, 222, 98, 0.28),
          40vw 750px 25px 18px rgba(197, 137, 78, 0.32),
          50vw 700px 25px 80px rgba(216, 239, 114, 0.32),
          65vw 750px 25px 26px rgba(215, 73, 73, 0.32),
          75vw 650px 25px 45px rgba(206, 114, 236, 0.3);


}
.blobCompetitions {
    position: absolute;
    width: 200px;
    height: 200px;
    left: -200px;
    top: -200px;
    z-index: -99;

    border-radius: 500px;
    box-shadow:
            195px 165px 25px 8px rgba(89, 189, 211, 0.25),
            195px 215px 25px 12px rgba(116, 87, 189, 0.25),
            355px 155px 25px 10px rgba(206, 114, 236, 0.35),
            100vw 150px 25px 12px rgba(59, 61, 189, 0.31),
            105vw 260px 25px 12px rgba(201, 144, 22, 0.28),
            40vw 750px 25px 18px rgba(197, 137, 78, 0.32),
            50vw 700px 25px 80px rgba(216, 239, 114, 0.32),
            65vw 750px 25px 26px rgba(125, 73, 215, 0.32),
            75vw 650px 25px 45px rgba(206, 114, 236, 0.3);


}



main {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    position: relative;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.4);
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.8);
    padding: 4px;
    height: 50px;
    width: 120px;
    font-weight: 800;
    font-size: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.1s ease, height 0.1s ease;

}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: blueviolet;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}

.small-circle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}
